.popw-title {
  display: inline-block;
  color: white;
  padding: 5px;
  height: 20px;
  cursor: move;
}
.popw-cnt {
  background-color: white;
  margin: 0 2px;
  text-align: center;
  display: table;
}
.popw-cntp {
  display: inline-block;
}
.popw-btn {
  background-color: white;
  height: 30px;
  float: left;
  text-align: center;
  display: table;
  margin: 5px;
  border-radius: 5px;
  padding: 0 2px;
  cursor: pointer;
}
.btn_cnt {
  display: table-cell;
  vertical-align: middle;
}
